/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
/config/dev.local.exs
/cloudflared.log
/cloudflared.pid
/server.log
/server.pid
/priv/cert/
/priv/fido2_metadata/
.elixir_ls/
